.boxshadow {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset -4px -2px 0.12px rgba(255, 255, 255, 0.5),
        2px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-right: 1px solid rgba(255, 255, 255, 0.18); */
    border-top: 2px solid rgba(89, 120, 164, 0.3);
    border-left: 3px solid rgba(89, 120, 164, 0.3);
}

.boxshadow2 {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset -4px -2px 0.12px rgba(255, 255, 255, 0.5),
        2px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-right: 1px solid rgba(255, 255, 255, 0.18); */
    border-top: 2px solid rgba(89, 120, 164, 0.3);
    border-left: 3px solid rgba(89, 120, 164, 0.3);
}

.boxshadow2:active {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-bottom: 1px solid rgba(89, 120, 164, 0.3);
    border-right: 1px solid rgba(89, 120, 164, 0.3); */
    border-top: 2px solid rgba(89, 120, 164, 0.3);
    border-left: 3px solid rgba(89, 120, 164, 0.3);
}
